.component {
  width: 100vw;
  height: 100vh;
  padding-top: 70px;
  background-color: #EEF2F7;
  transition: all ease 0.4s;
  overflow-y: hidden;
  @media (min-width: 375px) {
    padding-top: 86px;
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (min-width: 768px) {
    padding-left: 86px;
  }
  @media (min-width: 1200px) {
    padding-top: 16px;
    padding-left: 256px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}

.open-menu-component {
  @media (min-width: 768px) {
    padding-left: 256px;
  }
}